[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
[submodule "third_party/IntelMediaSDK"]
	path = third_party/IntelMediaSDK
	url = https://github.com/Intel-Media-SDK/MediaSDK
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/SDL-mirror/SDL
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/bco"]
	path = third_party/bco
	url = https://github.com/nbmill/bco
